

.productReference {
  font-size: 0.7rem;
  font-weight: 200;
}


.productReference::before {
  content: "CÓDIGO DO PRODUTO ";
}

.productBrand {
  display: flex;
  flex-direction: column;
}



.imageElement--telefone-header{
  width: 14px;
}

.imageElement--icone-maleta{
  width: 18px;
  height: 14px;
  margin: 0;
  padding: 0;
}

.imageElement--imagem-caixa-vermelha{
  position: relative;
  right: 33px;
  top: 10px;
}
.imageElement--imagem-maleta-preta{
  position: relative;
  left: 33px;
}

.imageElement--diferencas-texto{
  width: 300px;
  height: 77px;
  margin-bottom: 20px;
}


.imageElement--icone-lampada {
  width: 48px;
  height: 48px;
  margin: 17px;
}

.imageElement--banner-search-image {
  border-radius: 15px;
  margin: 5px;
  border: 2px solid white;
}

.imageElement--imagem-tamanhos {
  width: 123px;
  height: 88px;
}

.imageElement--imagem-detalhes-tecnicos {
  margin-top: -80px;
  width: 390px;
  height: 301px;
}

.imageElement--logo-madubox {
  width: 171px;
  height: 61px;
}

.imageElement--interrogacao {
  width: 25px;
  height: 34px;
  padding: 5px 10px;
}

.imageElement--imagens-boxes-maletas {
  width: 40px;
  height: 40px;
  padding: 0 10px;
}

.imageElement--imagem-banner1-madubox {
  min-height: 100%;
  min-width: 100%;
}

.imageElement--titulo-banner1-madubox {
  margin-bottom: 20.18px;
}

.imageElement--bandeiras-cartoes-pdp {
  width: 50%;
}

.thumbImg {
  border-radius: 15px;
}

.productImagesThumbActive {
  opacity: 1 !important;
}

.productImagesThumb:hover {
  opacity: 1;
}

.productImagesThumb {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECECEC;
  border-radius: 10px;
  opacity: 0.5;
  margin-right: .6rem;
}

.productImageTag {
  border-radius: 15px;
}

.container--product-spec {
  height: 100% !important;
}

.pointerEventsAuto {
  display: none;
}

.fadeBottom {
  background-image: unset;
}

.shippingTableRow:hover {
  background-color: #EEE;

}

.shippingTableRow {
  min-height: 100%;
}

.shippingTableCellDeliveryEstimate {
  height: inherit !important;
}

.shippingTableLabel,
.shippingTableCellDeliveryEstimate,
.currencyContainer {
  font-size: .9em;
  font-weight: 700;
  color: #333;
  display: flex;
  align-items: center;
}

.shippingTable {
  border-collapse: collapse;
}

.shippingTableCellDeliveryEstimate {
  border-bottom: .1em solid #e0e0e0;
  line-height: 1.5;
  padding: 15px;
}

.shippingTableCellDeliveryEstimate:last-child {
  border-bottom: none !important;
}

.shippingTableCellDeliveryName,
.shippingTableCellDeliveryPrice {
  border: .1em solid #e0e0e0;
  line-height: 1.5;
  padding: 15px;
}

.imageElement--banner-search {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EAEAEA;
  border-radius: 10px 10px 10px 10px;
}


.imageElement--imagem-atendimento-whatsapp {
  padding: 0 5px;
  padding-top: 4px;
}

.portalWrapper {
  position: unset;
}

.portalContainer {
  position: relative;
  top: 0px;
  left: 0px;
}

.flexRow--topbar .conteiner {
  margin: 0;
  padding: 0;
  width: 1300px;
}


.valueWrapper {
  height: 30px;
}

.skuSelectorItem {
  height: auto !important;
}

.skuSelectorItemImageValue {
  width: 30px;
}

.discountInsideContainer {
  background-color: transparent;
  color: #ff0000;
  font-size: 15px;
}


.container {
  padding-top: 0;
  max-width: 1200px;
}

.sizeDesktop {
  max-width: 233px;
  max-height: 92px;
  min-width: 233px;
  padding: 0;
  margin-top: 4px;
  display: block;
}

.imageElement--icone-telefone {
  width: 0.8em;
  /* height: 1em; */
  border-radius: 5px;
  background-color: white;
}

.imageElement--icone-notification {
  width: 1.2em;
  padding: 1.5px;
}

/* LOGO */
.logoImage {
  width: 65%;
  height: 65%;
}

/* CATEGORIAS */

.imageElement--imagem-categorias {
  width: 300px;
  transition: .3s;
  padding: 20px;
}

.imageElement--imagem-categorias:hover {
  transform: scale(1.1);
  transition: .3s;
}


/* CATEGORIA IMAGENS MODAL */
.imageElement--imagem-categorias-modal {
  padding: 10px;
  width: 80%;
  max-height: fit-content;
}

/* INSTITUCIONAIS */
/* QUEM SOMOS */
.imageElement--imagem-quem-somos {
  display: block;
  margin: 0 0 30px;
}

/* BUSCA */
.searchBarContainer {
  /* margin-right: 200px; */
  padding: 0;
  display: flex;
  align-items: center;
  width: 320px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 100px;
  /* height: 3.5em; */
  flex-direction: row-reverse;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  color: #4F4242;
  font-size: 13px;
  border-radius: 0;
  padding-left: 1px;
  /* background-color: #EEE; */
  background-color: transparent;
}

.autoCompleteOuterContainer {
  background-color: #EEE;
  border-radius: 40px;
}

.autoCompleteOuterContainer:hover {
  background-color: #DFDFDF
}

/* .searchBarContainer .autoCompleteOuterContainer :global(.vtex-styleguide-9-x-input):hover {
  background-color: #t;
} */

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  padding-right: 0;
  background-color: transparent;
}

/* .searchBarContainer .autoCompleteOuterContainer :global(.vtex-input__suffix):hover {
  background-color: #DFDFDF;
} */

/* PRATELEIRAS */
.skuSelectorItem {
  height: auto;
  margin: 0;
  /* font-size: 13px; */
  border-radius: 5px;
  border: 1px solid #FFDDDE;
  opacity: 0.5;
}

:global(.vtex-product-summary-2-x-element) .skuSelectorItemTextValue {
  border-color: #fff;
  color: #fff;
  font-size: 13px;
  padding: 5px;
}

:global(.vtex-product-summary-2-x-element) .skuSelectorOptionsList {
  justify-content: center;
  margin-left: 0;
}

:global(.vtex-product-summary-2-x-element) .skuSelectorTextContainer {
  display: none;
}

:global(.vtex-product-summary-2-x-element) .skuSelectorSubcontainer,
.skuSelectorNameContainer {
  margin: 0;
}

/* thumbnail produtos  */
.skuSelectorItem {
  border-radius: 50%;
}

.skuSelectorItemImageValue {
  border-radius: 50%;
}



/* ABAS PDP  */
.productDescriptionContainer {
  padding: 20px;
}

.specificationsTableContainer {
  padding: 20px;
}

/* INFOCARDS HOME */
.infoCardContainer--mosaico-home {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.infoCardTextContainer--mosaico-home-1 {
  margin: 29px 0 0 21px;
}

.infoCardHeadline--mosaico-home-1 {
  font: 400 29px "Montserrat";
  color: #251203;
  margin-top: 0;
}

.infoCardCallActionContainer--mosaico-home-1 {
  margin: 9px 0 0;
}

.infoCardCallActionContainer--mosaico-home-1 :global(.vtex-button) {
  border: 1px solid #251203;
  min-height: auto;
  background: transparent;
  border-radius: 100px;
}

.infoCardCallActionContainer--mosaico-home-1 :global(.vtex-button__label) {
  color: #251203;
  text-transform: none;
  font-size: 14px;
  padding: 12px 29px 11px 29px !important;
}

.imageElementLink--mosaico-home,
.imageElement--mosaico-home {
  display: block;
}

.infoCardTextContainer--mosaico-home-2 {
  margin: 19px 0 0 11px;
}

.infoCardHeadline--mosaico-home-2 {
  margin: 0 0 0 16px;
  font: 400 29px "Montserrat";
  color: #fff;
}

.infoCardCallActionContainer--mosaico-home-2 {
  margin: 2px 0 0;
}

.infoCardCallActionContainer--mosaico-home-2 :global(.vtex-button) {
  border: 1px solid #fff;
  min-height: auto;
  background: transparent;
  border-radius: 100px;
}

.infoCardCallActionContainer--mosaico-home-2 :global(.vtex-button__label) {
  color: #fff;
  text-transform: none;
  font-size: 16px;
  padding: 11px 54px 10px 54px !important;
}

.infoCardContainer--mosaico-home-2 {
  padding-bottom: 105px;
}

/* LINHA MADU ONE  */
.imageElement--logo-madu-cat {
  width: 237px;
  transition: .3s;
}

.imageElement--logo-madu-cat:hover {
  transform: scale(1.1);
  transition: .3s;
}

/* SE COMBINAM  */
.imageElement--se-combinam {
  padding: 25px;
  display: inline-block;
  transition: transform 220ms ease, filter 220ms ease;
  will-change: transform;
  transform: translateY(0) rotate(0deg) scale(1);
}

.imageElement--se-combinam:hover {
  transform: translateY(-5px) rotate(1.5deg) scale(1.05);
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .08));
}


/* PLP */
.imageElement--banner-dpto {
  width: 100%;
  display: block;
}

/* PDP */
.productImagesThumb {
  height: 100% !important;
}

.productImage {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ECECEC;
  border-radius: 10px;
}


.productImagesContainer--list {
  display: flex;
  flex-wrap: wrap;
}

.imageElement--imagem-metodos-pgto-pdp {
  width: 1em;
  margin: 0;
  padding: 0;
}

.productBrand {
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #383838;
}

.skuSelectorTextContainer {
  margin-bottom: 10px;
}

.skuSelectorName {
  color: #202020;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.skuSelectorOptionsList {
  margin-left: 0;
  gap: 10px;
}

.frameAround {
  display: none;
}

.skuSelectorItem--selected {
  border: 1px solid #D9D8D7;
  opacity: 1;
}

.unavailable {
  opacity: 1;
}

.skuSelectorInternalBox {
  border-radius: 0;
  border: 0;
}

.skuSelectorItemTextValue {
  padding: 10px 20px;
  color: #251203;
  font-size: 13px;
}

.diagonalCross {
  background-image: linear-gradient(to top right, transparent 44%, rgba(0, 0, 0, 0.3) 48%, currentColor 48%, currentColor 52%, transparent 52%), linear-gradient(to top left, transparent 44%, rgba(0, 0, 0, 0.3) 48%, currentColor 48%, currentColor 52%, transparent 52%);
}

.skuSelectorSubcontainer {
  margin-bottom: 15px;
}

.skuSelectorOptionsList .skuSelectorItemImage {
  /* width: 77px; */
  padding: 8px;
  border-radius: 50%;
  opacity: 1;
  /* border-color: #D6C0B0; */
  border: none;
  padding: 2px !important;
}

.skuSelectorItem--selected.skuSelectorItemImage {
  border-color: #251203;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.897); */

  padding: 2px !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.658);
}

.shippingContainer :global(.vtex-input__label) {
  display: none;
}

.shippingContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.shippingContainer :global(.vtex-input__suffix) {
  display: none;
}

.shippingContainer :global(.vtex-button__label) {
  font-size: 0;
}

.shippingContainer :global(.vtex-button__label)::before {
  content: "Consultar";
  color: black;
  font-size: 15px;
  text-transform: capitalize;
}

/* .shippingContainer {
  position: relative;
  margin-top: 27px;
}

.shippingContainer :global(.vtex-address-form__postalCode),
.shippingContainer :global(.vtex-input),
.shippingContainer :global(.vtex-input__label) {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  gap: 23px;
}

.shippingContainer :global(.vtex-input) {
  gap: 14px;
  width: auto;
}

.shippingContainer :global(.vtex-input__label) {
  font-size: 0;
  gap: 9px;
  width: auto;
}

.shippingContainer :global(.vtex-input__label)::before {
  content: "";
  display: block;

  width: 20px;
  height: 18px;
}


*/

.shippingContainer :global(.vtex-input-prefix__group) {
  width: unset;
}

.shippingContainer :global(.vtex-button) {
  height: 40px;
  width: unset;
  border: none;
}

.shippingContainer :global(.vtex-button__label) {
  white-space: nowrap;
  padding: 0 20px;
  background-color: white;
  font-weight: bold;
  color: black;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(204, 204, 204) !important;
  border-image: initial !important;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  background-color: #f7f7f7;
}

/*
.shippingContainer :global(.vtex-button__label)::before {
  content: "OK";
  font: 13px "Montserrat Semibold";
  color: #43483B;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  font-size: 13px;
  color: #43483B;
  padding: 5px 5px 5px 15px;
  line-height: 1;
} */

:global(.vtex-address-form__postalCode-forgottenURL) {
  margin: 10px 0;
  padding: 0;
}

:global(.vtex-address-form__postalCode-forgottenURL) :global(.vtex__icon-external-link) {
  display: none;
}

.shippingContainer :global(.vtex-input__error) {
  position: absolute;
  top: 100%;
  left: 100px;
}

.shippingTable,
.shareContainer {
  margin-top: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  padding-bottom: 15px;
}

.shareContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.shareLabel {
  font-size: 0;
  margin-bottom: 0;
}

.shareLabel::before {
  content: "Compartilhe esse produto";
  font-size: 13px;
  color: #7B7979;
}

.shareSocialButton {
  margin: 0 10px 0 0;
}

.shareSocialIcon {
  display: none;
}

.shareSocialButton--whatsapp {
  width: 16px;
  height: 17px;
  background: url(assets/whatsapp.png) no-repeat transparent;
}



.shareSocialButton--facebook {
  width: 9px;
  height: 17px;
  /* background: url(assets/facebook-1.png) no-repeat transparent; */
}

.shareSocialButton--twitter {
  width: 16px;
  height: 14px;
  /* background: url(assets/twitter.png) no-repeat transparent; */
}

.shareSocialButton:hover,
.shareSocialButton:active,
.shareSocialButton:focus {
  opacity: 1;
}

.productDescriptionText--product-description {
  font-size: 14px;
  color: #3A3434;
  padding: 10px 0;
}

.subscriberContainer .title,
.subscriberContainer .subscribeLabel {
  font-size: 14px;
  color: #3A3434;
}

.subscriberContainer .input {
  border: 1px solid #D9D8D7;
  border-radius: 5px;
  margin: 0;
  height: 37px;
}

.subscriberContainer .content {
  gap: 10px;
}

.subscriberContainer :global(.vtex-input-prefix__group) {
  border: 0;
  height: 100%;
}

.subscriberContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 13px;
  color: #3A3434;
}

.subscriberContainer .submit {
  margin: 0;
}

.subscriberContainer :global(.vtex-button) {
  border: 0;
  border-radius: 5px;
  background: #D9D8D7;
  color: #fff;
  height: 37px;
}

.swiperPaginationClickable {
  display: none;
}

/* RODAPE  */
.imageElement--logo-rede-social {
  transition: scale 0.3s ease;
}

.imageElement--logo-rede-social:hover {
  scale: 1.2;
  transition: scale 0.3s ease-in-out;
}

.imageElement--logo-branca-footer {
  width: 140px;
  transition: scale 0.3s ease-in-out;
}

.imageElement--logo-branca-footer:hover {
  scale: 1.1;
  transition: scale 0.3s ease-in-out;
}

.imageElement--logo-rede-social {
  width: 1.8rem;
}

.imageElement--logo-nav-grupo-mfm {
  width: 8rem;
  transition: scale 0.3s ease-in-out;
}

.imageElement--logo-nav-grupo-mfm:hover {
  scale: 1.2;
  transition: scale 0.3s ease-in-out;
}

.imageElement--footer-payment {
  width: 100%;
  padding: 33px 0;
}

.imageElement--footer-logos-linha-2 {
  width: 4rem;
}

.imageElement--icones-footer {
  width: 20px;
  height: 20px;
}

.searchResultContainer--busca-desktop {
  background-color: #251203;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.imageElement--avaliacao-estrelas {
  max-width: 15px;
}


/* MADE FOR YOU */
.imageElement--imagem--made-for-you {
  transition: transform 0.3s ease-out;
  max-width: 100%;
  width: 80%;
  margin: 40px;
}

.imageElement--imagem-banner-avaliacoes {
  transition: transform 0.3s ease-out;
  max-width: 100%;
  margin: 40px;
  width: 60%;
}

.imageElement--imagem-banner-avaliacoes:hover,
.imageElement--imagem--made-for-you:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.01) rotateX(10deg) rotateY(10deg);
}


.imageElement--avaliacao-avatar {
  height: 40px;
  margin: 10px;
}

.imageElement--avaliacao1-imagem-google {
  height: 25px;
  margin: 10px;

}

/* CONTATO */
.link--link-contato {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7em;
}

.imageElement--icone-contato {
  height: 25px;
  width: max-content;
  max-width: unset !important;
  margin-right: 15px;
}

/* CATEGORIAS MOBILE  */
/* classe com responsive layout  */
.flexRowContent--categorias-mobile {
  display: flex;
  flex-direction: row;
}




/* MOBILE */
@media screen and (max-width: 1024px) {
  .imageElement--plus-titulo {
    max-width: 11px !important;
    margin-bottom: 3px;
  }

  .shippingTableRow {
    height: 120px;
  }

  .shippingContainer :global(.vtex-button) {
    width: auto;
  }

  .skuSelectorOptionsList {
    display: inline-flex;
    justify-content: center;
  }

  .skuSelectorNameContainer {
    text-align: center;
  }

  .productNameContainer {
    padding: 15px;
    text-align: center;
  }

  .shippingContainer :global(.vtex-input-prefix__group) {
    width: 100%;
  }

  .imageElement--imagem-banner-avaliacoes {
    width: 100%;
    margin: 0;
  }

  .discountInsideContainer {
    margin-right: 28px;
    margin-top: 0px;
    border-radius: 0 5px 0 0;
  }

  /* CATEGORIAS HOME  */
  /* .imageElement--imagem-categorias {
    width: 75px;
  } */

  /* header  */
  .searchBarContainer {
    width: auto;
    margin: 0;
  }

  .container .container {
    padding: 0;
  }

  .searchBarContainer :global(.vtex-input-prefix__group) {
    border: 0;
  }

  .sizeMobile {
    max-width: 146px;
    max-height: 57px;
    min-width: 146px;
    padding: 0;
    display: block;
  }

  .infoCardTextContainer--mosaico-home-1 {
    margin: 0 8px 21px 0;
    align-items: flex-end;
  }

  .infoCardContainer--mosaico-home-1 {
    align-items: flex-end;
    justify-content: flex-end;
    height: 328px;
    margin-bottom: 20px;
  }

  .infoCardHeadline--mosaico-home-1 {
    color: #fff;
    width: 65%;
    text-align: right;
    margin-right: 14px;
  }

  .infoCardCallActionContainer--mosaico-home-1 :global(.vtex-button) {
    border-color: #fff;
  }

  .infoCardCallActionContainer--mosaico-home-1 :global(.vtex-button__label) {
    color: #fff;
  }

  .infoCardTextContainer--mosaico-home-2 {
    margin: 11px 0 0 12px;
  }

  .infoCardHeadline--mosaico-home-2 {
    margin: 0;
    width: 60%;
  }

  .infoCardCallActionContainer--mosaico-home-2 {
    margin: 8px 0 0 7px;
  }

  .infoCardCallActionContainer--mosaico-home-2 :global(.vtex-button__label) {
    padding: 10px 30px !important;
  }

  /* FOOTER */
  .imageElement--footer-payment {
    max-width: 333px;
    display: block;
  }

  /* PDP */

  :global(.vtex-address-form__postalCode-forgottenURL) {
    width: 100%;
  }

  .productImagesGallerySwiperContainer .swiperPaginationClickable {
    display: block;
    bottom: 0;
  }

  .productImagesGallerySwiperContainer {
    padding-bottom: 20px;
  }

  .productImagesContainer--carousel {
    margin-bottom: 30px;
  }

  .swiperBullet {
    width: 20px;
    height: 7px;
    border-radius: 20px;
  }

  .swiperBullet {
    background: black;
    opacity: 1;
  }

  .swiperBullet--active {
    background: #D9D8D7;
  }

  .imageElement--titulo-mobile-banner1-madu-box {
    margin: 0;
  }

  .imageElement--imagens-caracteristicas {
    max-width: 80%;
    max-height: 150px;
    margin-top: 25px;
  }

  .imageElement--imagem-detalhes-tecnicos {
    margin-top: 0;
  }

  .imageElement--icone-lampada{
    margin: 22px;
  }

  .imageElement--imagem-maleta-preta{
    position: unset;
    top: unset;
    width: 108px;
    height: 108px;
  }

  .imageElement--imagem-caixa-vermelha{
    position: unset;
    top: unset;
    width: 178px;
    height: 114px;
  }

  .imageElement--slider-madubox-mobile{
    height: 233px;
  }

}
