.styledLinkContent {
  font-weight: 900 !important;
  color: black;
}

.styledLinkContent--menu-principal-item:hover {
  color: #153B64;
}

.menuItem {
  width: fit-content;
}


.submenuWrapper--menu-principal-submenu--isOpen {
  margin: 0;
}


.submenuWrapper--menu-principal-submenu .submenuWrapper--menu-principal-submenu--isOpen {
  margin-left: 160px;
  margin-top: -30px;
}

.styledLinkContainer--topbar {
  margin: 0;
  padding: 0;
}

.styledLink--topbar {
  color: #4F4242;
  font-size: 12px;
}

.menuItem--topbar {
  margin-right: 16px;
}

.menuContainerNav--topbar {
  margin-top: 5px;
}

/* MENU PRINCIPAL */
.styledLinkContent--menu-principal-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
}

.styledLinkIcon--menu-principal-item {
  margin: 15px -10px 0 10px;
}

/* .menuContainerNav--menu-principal {
  margin-left: 70px;
} */

.menuContainer--menu-principal {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.styledLinkContainer--menu-principal-lastchild {
  border-right: none !important;
}


.styledLinkContainer--menu-principal-item {
  margin: 0;
  padding: 0;
  border-right: 2px solid #C7C7C7;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.styledLink--menu-principal-item {
  color: #4F4242;
  font-size: 15px;
}

.styledLinkContainer {
  font-weight: 900;
}

.submenuWrapper--menu-principal-submenu--isOpen {
  /* padding: 13px 23px; */
  margin: 0;
  border-bottom: 0;
  border-radius: 10px;
  border: 1px solid #C7C7C7;
  font-weight: 900 !important;
  color: black;
}

.styledLink--menu-principal-subitem {
  color: #4F4242;
  font-size: 15px;
  font-weight: 900;

}

.styledLinkContainer--menu-principal-subitem {
  margin: 0;
  padding: 0;
}

.menuContainer--menu-principal-submenu {
  gap: 10px;
}

.styledLink--menu-principal-subitem--highlight {
  color: black;
  text-decoration: underline;
}

.menuContainer--menu-footer .styledLinkContainer {
  margin: 0;
  padding: 0;
}

.menuContainer--menu-footer .styledLink {
  font-size: 13px;
  color: #3A3434;
}

.menuContainer--menu-footer .menuItem {
  margin: 0;
}

.menuContainer--menu-footer {
  gap: 12px;
}

/* ROPAPÉ  */
.styledLinkContent--menu-item-footer-inst {
  color: white;
  transition: color 0.3s ease;
}

.styledLinkContent--menu-item-footer-inst:hover {
  color: grey;
  transition: color 0.3s ease;
}

/* MOBILE */
@media screen and (max-width: 1024px) {

  .menuContainerNav {
    width: 100%;
  }

  .styledLinkContent--menu-principal-item,
  .styledLinkContent--menu-principal-subitem {
    padding: 18px 23px;
    border-bottom: none;
    font-size: 15px;
    color: #3A3434;
  }

  .styledLink--menu-principal-subitem--highlight .styledLinkContent--menu-principal-subitem {
    color: black;
  }

  .accordionIcon--menu-principal-item,
  .menuContainer--footer-mobile .accordionIcon {
    font-size: 0;
    width: 8px;
    height: 14px;
    display: block;
    background: url(assets/arrow-menu.png) no-repeat transparent;
    transition: 0.5s ease all;
  }

  .accordionIcon--isOpen,
  .menuContainer--footer-mobile .accordionIcon--isOpen {
    transform: rotate(90deg);
    transition: 0.5s ease all;
  }

  /* RODAPÉ */
  .menuContainer--footer-mobile .styledLinkContainer {
    margin: 0;
    padding: 0;
  }

  .menuContainer--footer-mobile .styledLinkContent {
    font: 12px "Montserrat Semibold";
    text-transform: uppercase;
    color: #3A3434;
  }

  .menuContainer--footer-mobile .menuItem {
    padding: 14px 0;
    border-bottom: 1px solid #DFDFDF;
  }

  .menuContainer--footer-mobile .submenuAccordion {
    padding-left: 0;
    margin-top: 20px;
  }

  .menuContainer--footer-mobile .submenuAccordion .menuItem {
    border-bottom: 0;
  }

  .menuContainer--footer-mobile .submenuAccordion .styledLinkContent {
    text-transform: capitalize;
    font: 12px "Montserrat";
  }

  .styledLinkContainer--menu-principal-item {

    border-right: none;
  }

}
