.filter__container--filterCol :global(.vtex-button) :global(.vtex-button__label)::before{
  content: "limpar filtos";
  font-size: 1rem;
  text-transform: capitalize;
}

.filter__container--filterCol :global(.vtex-button) :global(.vtex-button__label){
  font-size: 0;
}

.filter__container--filterCol :global(.vtex-button){
  background-color: black;
  border: none;
  width: 100%;
  border-radius: 20px;
}

.filter__container--filterCol--clearAllFilters{
  border: none;
}

.orderByButton {
  background-color: transparent;

}

.gallery--grid {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: left;
}



.galleryItem--normal {
  flex-basis: unset !important;
  max-width: unset !important;
  padding: unset !important;
  margin: unset !important;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / .05);
}


.filterIcon {
  display: block !important;
}

/* COR DAS PUXADORES  */
.filter__container--color .filterTitleSpan--filterCol {
  font-size: 0;
}

.filter__container--color .filterTitleSpan--filterCol::after {
  content: "Cor dos Puxadores";
  font-size: 16px;
}

/* COR DAS GAVETAS  */
.filter__container--cor .filterTitleSpan--filterCol {
  font-size: 0;
}

.filter__container--cor .filterTitleSpan--filterCol::after {
  content: "Cor das Gavetas";
  font-size: 16px;
}

/* cor das estruturas */
.filter__container--colour .filterTitleSpan--filterCol {
  font-size: 0;
}

.filter__container--colour .filterTitleSpan--filterCol::after {
  content: "Estrutura";
  font-size: 16px;
}


.filter__container--clearAllFilters {
  padding: 20px 10px;
  text-align: center;

}

.filter__container--brand .filterTitleSpan--filterCol{
  font-size: 0;
}

.filter__container--brand .filterTitleSpan--filterCol::before{
  content: "Linha";
  font-size: 1rem;
}

.filterIcon{
  padding: 10px 0 0 10px;
}

/* DESKTOP */
.filter__container--title,
.filter__container--selectedFilters{
  padding: 0 5px;
}

.filterItem :global(.vtex-checkbox__line-container) {
  align-items: center;
}



.filterAvailable {
  padding: 10px;
}

.filterContent--filterCol{
  padding: 0 10px;
}

.filterTitleSpan {
  color: #3A3434;
  font-size: 16px;
}

.filterItem :global(.vtex-checkbox__label) {
  color: #7B7979;
  font-size: 13px;
  display: block;
  padding: 7px 0;
}

.filterItem :global(.vtex-checkbox__inner-container) {
  border: 1px solid #7B7979;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  margin-right: 0;
}

.filterItem :global(.vtex-checkbox__container) {
  width: 19px;
  height: 19px;
  margin-right: 9px;
}

/* .filterTemplateOverflow {
  padding-bottom: 16px;
} */

.filter__container {
  /* border-color: #D9D8D7; */
  border: none;
}

.filterItem :global(.vtex-checkbox__box) {
  margin: 1px 0 0 1px;
}

/* .galleryTitle--layout{
  font-size:28px;
  font-weight:400;
  color:black;
  margin:0 0 33px;
} */
.totalProducts--layout {
  text-align: left;
}

.totalProducts--layout,
.totalProducts--layout .totalProductsMessage {
  padding: 0;
  color: #333;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
}

.filterTemplateOverflow--filterCol{
  margin-right: 10px;
}

.filter__container--priceRange .filterTemplateOverflow--filterCol{
  padding: 0 15px;
}

/* .totalProducts--layout::after {
  content: "encontrados";
  padding-left: 4px;
} */

.orderByDropdown {
  padding: 0;
}

.orderByButton {
  padding: 0;
  border: 0;
}

.caretIcon,
.filterPopupTitle {
  color: black;
}

.filterPopupTitle {
  text-transform: none;
}

.filterPopupArrowIcon {
  padding: 0 0 0 10px;
}

.buttonShowMore :global(.vtex-button) {
  border: 1px solid #D9D8D7;
  border-radius: 30px;
  background: #FFF;
  color: #3A3434;
  padding: 12px 47px 10px;
  transition: ease all .3s;
  min-height: auto;
}

.buttonShowMore :global(.vtex-button):hover {
  color: #FFF;
  background: #153b72;
  transition: ease all .3s;
}

.buttonShowMore :global(.vtex-button__label) {
  text-transform: none;
  font-size: 0;
  padding: 0;
}

.buttonShowMore :global(.vtex-button__label)::before {
  content: "Carregar mais produtos";
  font-size: 14px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--fetchprevious) .buttonShowMore :global(.vtex-button__label)::before {
  content: "Voltar";
  font-size: 14px;
}

.buttonShowMore--layout {
  margin: 20px 0;
}

.orderByOptionsContainer {
  z-index: 100;
  top: 100%;
}

.gallery {
  padding-left: 0;
}

.galleryItem {
  flex: 1;
  padding: 0 0 20px;
}

/* EDICOES MADU */
/* .galleryTitle--layout{
  position: absolute;
  top: 50px;
} */

.galleryTitle--layout {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 22px;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .searchResultContainer {
    padding: 0 15px;
  }

  .galleryTitle--layout {
    color: #3A3434;
    margin: 10px 0;
    text-transform: capitalize;
  }

  .filterPopupButton {
    padding: 9px 17px;
    height: auto;
    border: 1px solid #7B7979;
    border-radius: 5px;
    flex-direction: row-reverse;
    gap: 11px;
  }

  .filterPopupTitle {
    color: #3A3434;
    font-size: 13px;
  }

  .filterPopupArrowIcon {
    padding: 0;
  }

  .filterIcon--filterCol {
    display: block;
    width: 18px;
    height: 19px;
    transform: scale(0.8);
  }

  .filtersWrapperMobile--filterCol {
    justify-content: flex-start;
  }

  .totalProducts--layout {
    border: 0;
    text-align: center;
  }

  .filterPopupTitle {
    color: #D9D8D7;
  }

  .filterPopupTitle .orderByText {
    color: #251203;
  }

  .caretIcon {
    margin-left: 5px;
  }

  .galleryItem {
    padding: 0 5px;
  }

  .filterAccordionBreadcrumbs {
    height: auto;
    padding: 18px 0 15px 24px;
    background: #D9D8D7;
  }

  .filterBreadcrumbsContent--filterCol,
  .filterBreadcrumbsItem--filterCol {
    padding: 0;
  }

  .filterBreadcrumbsText--filterCol {
    color: #fff;
    font: 15px "Montserrat Semibold";
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .filterBreadcrumbsText--filterCol::before {
    content: "";
    display: block;
    width: 9px;
    height: 14px;
    background: url(assets/arrow-left.png);
  }

  .filterBreadcrumbsItemName--filterCol {
    color: #fff;
    font: 15px "Montserrat Semibold";
    text-transform: uppercase;
  }

  .filterAccordionBreadcrumbs .caretIcon {
    color: #fff;
  }

  .accordionFilterItemIcon {
    display: none;
  }

  .accordionFilterContainer--filterCol {
    padding-left: 0;
  }

  .accordionFilterContent--filterCol {
    padding: 0 0 0 24px;
  }

  .filterAccordionItemBox {
    min-height: auto;
    padding: 20px 0;
    border-bottom-color: #DFDFDF;
  }

  .accordionFilterItemTitle--filterCol {
    color: #3A3434;
    font-size: 15px;
  }

  .filterAccordionItemBox--faixa-de-preco {
    display: none;
  }

  .accordionFilter {
    height: auto;
  }

  .filterButtonsBox {
    position: relative;
  }

  .filterApplyButtonWrapper--filterCol :global(.vtex-button),
  .filterClearButtonWrapper--filterCol :global(.vtex-button) {
    border: 1px solid #D9D8D7;
    border-radius: 30px;
    min-height: auto;
    padding: 10px;
  }

  .filterApplyButtonWrapper--filterCol :global(.vtex-button__label),
  .filterClearButtonWrapper--filterCol :global(.vtex-button__label) {
    padding: 0 !important;
    text-transform: none;
  }

  .gallery--grid {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
  }
}
