
.brandName{
  text-align: center;
}

.clearLink{
  background-color: white;
}

.containerNormal{
  max-width: unset!important;
  margin: 0;
}

.buyButton :global(.vtex-button){
  background-color: #00b280;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  width: 90%;
}

.buyButton :global(.vtex-button):hover{
  background-color: black;
}

.buyButtonText{
  font-size: 0;
}


.buyButtonText::after{
  content: "COMPRAR";
  font-size: 13px;
}
/* .image{
  box-shadow:0 4px 8px #ccc;
} */

.image {
  height: 100% !important;
  border-radius: 5px;
}

.nameContainer {
  margin: 19px 0 10px;
  padding: 0;
  justify-content: flex-start;
}

.productNameContainer {
  text-align: left;
}

.productBrand {
  font-size: 18px;
  line-height: 25px;
  color: #3A3434;
  display: block;
  overflow: hidden;
  font-weight: 900;
}

/* .element:hover :global(.vtex-stack-layout-0-x-stackItem--add-to-cart-summary){
  display:block;
} */
.SKUSelectorContainer {
  margin-bottom: 5px;
}

.hoverImage {
  z-index: 9;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .imageNormal {
    width: unset !important;
    height: unset !important;
    max-width: 100% !important;
  }

  .element {
    padding: 5px 10px;
    ;
  }

  .productNameContainer {
    text-align: center;
  }

  .nameContainer {
    margin: 7px 0 12px;
    justify-content: center;
  }

  .productBrand {
    font-size: 15px;
  }

  .element :global(.vtex-stack-layout-0-x-stackItem--add-to-cart-summary) {
    display: block;
  }
}
