.closeIconContainer {
  display: none;
}

.openIconContainer {
  margin-right: 10px;

}

.openIconContainer .menuIcon {
  width: 29px;
  height: 19px;
  overflow: visible;
}

.childrenContainer {
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  .openIconContainer {
    margin-right: 8px;
    padding: 4px;
  }

  .openIconContainer .menuIcon {
    width: 8px;
    height: 8px;
    overflow: visible;
    padding: 2px;
  }
}
