.container--titulo-tam-ideal-madubox,
.container--conteudo-tam-ideal-madubox {
  display: flex;
  justify-content: center;
}

.headingLevel2--titulo-tam-ideal-madubox {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 32px;
  color: #333333;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.strong--titulo-tam-ideal-madubox {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.paragraph--conteudo-tam-ideal-madubox {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #7E7E7E;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;

}

.paragraph--titulo-versao-transp-madubox {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  color: #FFAD20;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.strong--titulo-versao-transp-madubox {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 24px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.paragraph--conteudo-versao-transp-madubox {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 97%;
  letter-spacing: 0%;
}

.strong--conteudo-versao-transp-madubox {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0%;

}

.container--Lock-title {
  padding: 19px;
}

.strong--Lock-title {
  margin: 0;
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 97%;
  letter-spacing: 0%;
}

.paragraph--Lock-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 97%;
  letter-spacing: 0%;

}

.headingLevel3--titulo-2opcoes-maduset {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.strong--titulo-2opcoes-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 24px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.paragraph--titulo-2opcoes-maduset {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #7E7E7E;
  line-height: 97%;
  letter-spacing: 0%;

}

.paragraph--tittle-estrutura-madubox {
  padding: 0;
  margin: 0;
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #333333;
}

.paragraph--subtittle-estrutura-madubox {
  padding: 0;
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  color: #7E7E7E;
  line-height: 108%;
  letter-spacing: 0%;
}

.paragraph--legenda-estrutura-madubox {
  margin: 0;
  padding: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 15px;
  color: #333333;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.paragraph--coluna2-texto-estrutura {
  margin: 0;
  padding: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 22px;
  color: #333333;
  line-height: 132%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.strong--coluna2-texto-estrutura {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 22px;
  line-height: 132%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #333333;
}

@media screen and (max-width: 1024px) {
  .paragraph--legenda-estrutura-madubox {
    font-size: 11px;
    white-space: nowrap;
  }

  .paragraph--coluna2-texto-estrutura,
  .strong--coluna2-texto-estrutura {
    font-size: 14px;
  }

  .flexCol--linhaBoxColuna1-estruturas-madubox {
    padding: 0 29px;
  }

  .paragraph--tittle-estrutura-madubox {
    font-size: 24px;
    text-align: center;
  }

  .paragraph--subtittle-estrutura-madubox {
    font-size: 16px;
    text-align: center;
  }
}
