/* .flexRowContent--linha-desorganizacao-madubox .stretchChildrenWidth{
  width: 100%!important;
} */

.flexRowContent--linhas-botoes-desorganizacao-madubox{
  gap: 26px;
}

.flexRow--linha-desorganizacao-madubox {
  display: flex;
  padding: 70px 0;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
}

.flexRowContent--linha-desorganizacao-madubox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}

.flexRowContent--linha-produtos-escolha-madubox .stretchChildrenWidth {
  width: 100%;
}

.flexRow--linha-produtos-escolha-madubox {
  padding: 67px 0;
}

.flexRowContent--linha-produtos-escolha-madubox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
  max-width: 1400px;
}

.flexCol--coluna-tamanhos-madubox {
  gap: 8px
}

.flexRowContent--linha-escolha-tamanho-ideal2-madubox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flexRow--linha-escolha-tamanho-ideal2-madubox {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.flexRowContent--linha-escolha-tamanho-dieal-madubox .stretchChildrenWidth:first-child {
  padding: 6% 0;
  ;
}

.flexCol--coluna-textos-escolha-madubox {
  background-color: #8282C8;
  border-top-left-radius: 150px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 27px;
}

.flexColChild--coluna-img-escolha-madubox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRow--linha-escolha-tamanho-dieal-madubox {
  display: flex;
  justify-content: center;
}

.flexRowContent--linha-escolha-tamanho-dieal-madubox {
  max-width: 1400px;
}

.flexRowContent--linhaDuasOpcoes-madubox {
  gap: 18px;
}

.flexRow--linhaDuasOpcoes-madubox {
  padding: 50px 0;
}


.flexRowContent--linha-safeLock,
.flexRowContent--linha-easyLock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.flexRowContent--linha-safeLock,
.flexRowContent--linha-easyLock {
  border-radius: 200px 1000px 1000px 200px;
}

.flexRow--coluna-duasOpcoes-maduset,
.flexCol--coluna-locks-duasOpcoes-maduset {
  padding: 41px 30px;
  gap: 23px;
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 20px;
}

.flexRowContent--linha-safeLock {
  background-color: #D7461E;
}

.flexRowContent--linha-easyLock {
  background-color: #00A277;
}

.flexCol--coluna-duasOpcoes-maduset {
  display: flex;
  flex-direction: row;
}

.flexRow--linhaDuasOpcoes-madubox {
  background-color: #F4F4F4;
}

.flexCol--linhaBoxColuna1-estruturas-madubox {
  padding-right: 160px;
  gap: 16px;
}

.flexRowContent--linhaBoxColuna2-estruturas-madubox {
  gap: 26px;
}

.flexCol--linhaBoxColuna1-estruturas-madubox {
  display: flex;
  justify-content: center;
}

.flexCol--linhaBoxColuna2-estruturas-madubox {
  display: flex;
  flex-direction: row;
}

.flexColChild--coluna2-texto-estrutura {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColChild--linhaBoxColuna2-estruturas-madubox {
  width: 100%;
}

.flexRow--linhaBoxColuna2-estruturas-madubox {
  padding: 30px;
  border: 1px solid #CFCFCF;
  border-radius: 20px 1000px 1000px 20px;
}

.flexCol--coluna2-texto-estrutura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexRowContent--linhaBox-estruturas-madubox {
  margin: 60px 0;
}

.flexRowContent--linhaBoxColuna2-estruturas-madubox .stretchChildrenWidth {
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  .flexRow--linha-desorganizacao-madubox{
    padding: 70px 22px;
  }
  .flexRowContent--linhas-botoes-desorganizacao-madubox{
    gap: 18px;
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--linha-escolha-tamanho-dieal-madubox {
    padding: 22px;
  }

  .flexCol--coluna-textos-escolha-madubox {
    padding: 27px;
  }

  .flexRowContent--coluna-duasOpcoes-maduset {
    display: flex;
    align-items: center;
  }

  .flexRowContent--linhaDuasOpcoes-madubox {
    gap: 23px;
    display: flex;
    flex-direction: column;
  }


  .flexRow--linhaDuasOpcoes-madubox {
    padding: 69px 19px;
  }

  .flexRowContent--linhaBox-estruturas-madubox {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .flexRow--linhaBox-estruturas-madubox {
    padding: 16px;
  }

  .flexRow--linhaBoxColuna2-estruturas-madubox {
    padding: 12px;

  }

  .flexRowContent--linhaBoxColuna2-estruturas-madubox {
    display: flex;
  }

  .flexCol--linhaBoxColuna1-estruturas-madubox {
    padding-right: unset;
  }
}
