.imageElement--imgs-varAlt {
  height: fit-content;
}

.imageElement--img-transparente-madubox {
  width: 100%;
}

.imageElement--img-linhabox {
  min-width: 220px;
}

.imageElement--Lock-img {
  margin: 5px;
}

.imageElement--Lock-img {
  min-width: 94px;
}

@media screen and (max-width: 1024px) {
  .imageElement--img-linhabox {
    min-width: unset;
    max-width: 100%;
  }
}
