
.link--links-monteSeuJeito-odonto:hover,
.link--link-produtos-odonto:hover {
  background-color: #144118;
  transition: background-color 0.6s ease;
}

.link--links-monteSeuJeito-odonto,
.link--link-produtos-odonto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #32A078;
  border-radius: 100px;
  padding: 12px;
  transition: background-color 0.6s ease;
}

.link--link-personalizar-produtos-odonto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 12px;
  transition: background-color 0.6s ease;
}

.link--link-personalizar-produtos-odonto:hover {
  background-color: #144118;
}


.label--links-monteSeuJeito-odonto,
.label--link-produtos-odonto {
  font-family: "Poppins Black", sans-serif !important;
  line-height: 97%;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
}

.label--link-personalizar-produtos-odonto {
  font-family: "Poppins Black", sans-serif !important;
  line-height: 97%;
  color: #FFAD20;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
}
