.headingLevel2--titulo-organizadores-odonto {
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  color: #7E7E7E;
  line-height: 97%;
  letter-spacing: -3%;
  text-transform: uppercase;
  font-size: 36px;
}

.strong--titulo-organizadores-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}

.paragraph--firstchild-subtextos-orgs-odonto,
.paragraph--lastchild-subtextos-orgs-odonto {
  color: #7E7E7E;
  margin: 0;
  font-size: 20px;
  font-family: "Poppins", sans-serif !important;
  line-height: 97%;
  font-weight: 400;
}

.container--firstchild-subtextos-orgs-odonto {
  padding-right: 25px;
}

.container--lastchild-subtextos-orgs-odonto {
  padding-left: 25px;
  border-left: 2px solid #32A078;
}

.paragraph--atributos-cx-org1-odonto,
.paragraph--subtitulo-cx-org1-odonto {
  margin: 0;
  color: #7E7E7E;
  font-size: 12px;
  font-family: "Poppins", sans-serif !important;
  line-height: 97%;
  font-weight: 400;
}

.paragraph--titulo-cx-org-odonto {
  margin: 0;
  color: #7E7E7E;
  font-family: "Poppins", sans-serif !important;
  line-height: 97%;
  font-size: 14;
  font-weight: 400;
}

.strong--titulo-cx-org-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}


.paragraph--subtextos-orgs-odonto {
  margin: 0;
  color: #7E7E7E;
}

.paragraph--textos-monteSeujeito-odonto {
  margin: 0;
  color: #7E7E7E;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 97%;
}

.strong--textos-monteSeujeito-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}

.paragraph--titulo-monteSeujeito-odonto {
  margin: 0;
  color: #7E7E7E;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 97%;
}

.strong--titulo-monteSeujeito-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}

.headingLevel2--titulo-monte-seuJeito-odonto {
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  color: #7E7E7E;
  line-height: 97%;
  letter-spacing: -3%;
  text-transform: uppercase;
  font-size: 48px
}

.strong--titulo-monte-seuJeito-odonto,
.strong--conteudo-monteSeuJeito-odonto {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 700;
  font-style: Bold;
  line-height: 97%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.headingLevel3--conteudo-monteSeuJeito-odonto {
  font-family: "Poppins Light", sans-serif !important;
  margin: 0;
  font-weight: 300;
  color: #7E7E7E;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
  font-size: 40px
}

.container--atributos-produto-odonto {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph--texto-sub-odonto {
  margin: 0;
  color: #32A078;
  font-family: "Poppins Black", sans-serif !important;
  font-size: 12px;
  line-height: 97%;
}

.paragraph--atributos-produto-odonto {
  margin: 0;
  color: #32A078;
  font-family: "Poppins Bold", sans-serif !important;
  font-size: 12px;
  line-height: 97%;
}

.paragraph--precos-produto-odonto {
  margin: 0;
  color: #32A078;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  line-height: 97%;
  font-size: 16px;
}

.paragraph--titulo-produto-3-odonto {
  margin: 0;
  color: #32A078;
  font-family: "Poppins", sans-serif !important;
  line-height: 97%;
  font-weight: 400;
  font-size: 16px;
}

.headingLevel3--titulo-tres-produtos-odonto {
  margin: 0;
  color: #32A078;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 97%;
}

.strong--titulo-tres-produtos-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}

.headingLevel2--tres-niveis-odonto {
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-size: 36px;
  color: #E6E1DC;
  line-height: 97%;
  text-transform: uppercase;
}

.strong--tres-niveis-odonto {
  font-family: "Poppins Bold", sans-serif !important;
}

.headingLevel1--titulo-fabrica-odonto {
  margin: 0;
  color: #7E7E7E;
  font-family: "Poppins Bold", sans-serif !important;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
  font-size: 36px;
}

.paragraph--acompanham-odonto {
  margin: 0;
  font-family: "Poppins Bold", sans-serif !important;
  line-height: 40%;
  letter-spacing: -0%;
  text-transform: uppercase;
  color: #32A078;
  font-size: 40px;
  padding: 0 10px;
}

.paragraph--subtitulo-fabrica-odonto {
  margin: 0;
  color: #7E7E7E;
  font-family: "Poppins", sans-serif !important;
  line-height: 97%;
  font-size: 24px;
}


.container--titulo-organizacao-odonto {
  margin-left: 10%;
}

.container--acompanham-odonto {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
}

.container--subtitulo-organizacao-odonto {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.paragraph--titulo-organizacao-odonto {
  font-family: "Poppins Light", sans-serif !important;
  font-size: 32px;
  color: #7E7E7E;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin: 0;
}

.paragraph--subtitulo-organizacao-odonto {
  font-family: "Poppins Light", sans-serif !important;
  font-size: 24px;
  color: #7E7E7E;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin: 0;
}

.strong--titulo-organizacao-odonto {
  font-family: "Poppins Black", sans-serif !important;
  font-style: Bold;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.strong--titulo-organizacao-odonto {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 700;
  font-style: Bold;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
}
