.imageElement--img-prod-odonto {
  max-width: 80%;
}

.imageElement--produto-monteseuJeito-odonto {
  position: relative;
  transition: transform 0.3s ease;
  left: -25px;
}

.imageElement--produto-monteseuJeito-odonto:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

.imageElement--banner-odonto {
  width: 100%;
}

.imageElement--fundo-verde-madu-hosp {
  position: absolute;
  top: 50px;
  right: 0;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .imageElement--fundo-verde-madu-hosp{
    top: unset;
    right: 50px;
  }
  .imageElement--imagens-erros-odontologia {
    max-width: 60vw;
  }
}
