.flexRowContent--linha-produtos-organizadores-odonto {
  gap: 25px;
}

.flexColChild--colunacx-org1-odonto {
  width: 100%;
}

.flexCol--colunacx-org1-odonto {
  background-color: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 25px;
}

.flexRowContent--sexta-linha-odonto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 48px;
}

.flexRow--sexta-linha-odonto {
  background-color: #E6E1DC;
}

.flexCol--coluna-2-monte-seuJeito-odonto {
  padding: 80px 0;
  gap: 25px
}

.flexCol--coluna-produtos-monteseujeito-textos-odonto {
  gap: 25px;
}

.flexRowContent--linhas-monte-seuJeito-produtos-odonto {
  border-radius: 1000px 0 0 1000px;
  background-color: #E6E1DC;
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexCol--colunas-monte-seuJeito-odonto {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flexRow--linha-quinta-linha-odonto {
  background: linear-gradient(to right,
      #ffffff 0 50%,
      #FFA207 50% 100%);
}


.flexColChild--coluna-2-monte-seuJeito-odonto {
  background-color: #FFA207;
  padding: 0 0 0 25%;
}

.flexCol--colunacx-org1-odonto,
.flexCol--coluna-tres-opcoes {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.flexCol--colunacx-org1-odonto:hover,
.flexCol--coluna-tres-opcoes:hover {
  transform: scale(1.01);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.250);
}


.flexRowContent--linha-links-produtos-odonto .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--linha-links-produtos-odonto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flexColChild--coluna-tres-opcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowContent--linha-3produtos-odonto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol--coluna-tres-opcoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E6E1DC;
  border-radius: 20px;
  padding: 26px 20px;
  gap: 20px;
  min-height: 85vh;
}

.flexRowContent--linha-produtos-odonto {
  position: relative;
  z-index: 1;
  gap: 28px;
  padding: 0 15%;
}

.flexRowContent--linha-quarta-linha-odonto {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 0;
  gap: 25px;
}

.flexRow--linha-quarta-linha-odonto {
  background-color: #32A078;
}

.flexRowContent--terceira-linha-ondonto {
  padding: 50px 0;
}

.flexRow--terceira-linha-ondonto {
  background-color: #F4F4F4;
}

.flexRowContent--linha-imagens-fabrica-odonto {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

.flexRowContent--terceira-linha-ondonto {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.flexRowContent--segunda-linha-ondonto .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--segunda-linha-ondonto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.flexRowContent--linha-imagens-organizacao-odonto {
  display: flex;
  gap: 38px;
  justify-content: center;
}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .flexRowContent--linha-produtos-organizadores-odonto{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .flexRowContent--linhas-monte-seuJeito-produtos-odonto {
    margin-top: 25px;
    padding-right: 20px;
  }

  .flexRowContent--linhas-monte-seuJeito-produtos-odonto-2 {
    margin-bottom: 25px;
  }


  .flexColChild--coluna-2-monte-seuJeito-odonto {
    padding: 0 0 0 12%;
  }


  .flexCol--coluna-2-monte-seuJeito-odonto {
    gap: unset;
  }

  .flexCol--colunas-monte-seuJeito-odonto {
    padding: 33px 20px;
    gap: 12px;
  }

  .flexCol--coluna-2-monte-seuJeito-odonto {
    padding: unset;
  }

  .flexRow--linha-quinta-linha-odonto {
    background: unset;
  }

  .flexRowContent--linha-produtos-odonto {
    display: flex;
    padding: unset;
    gap: 12px;
    flex-direction: column;
  }

  .flexRowContent--terceira-linha-ondonto {
    gap: 12px;
  }

  .flexRowContent--segunda-linha-ondonto {
    gap: 12px;
  }

  .flexRowContent--linha-quarta-linha-odonto{
    padding: unset;
    gap: 12px;
  }

  .flexRowContent--sexta-linha-odonto,
  .flexRowContent--terceira-linha-ondonto,
  .flexRowContent--segunda-linha-ondonto {
    padding: 33px 20px;
    gap: 24px;
  }

  .flexRowContent--linha-imagens-organizacao-odonto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

}
