.container--titulo-subcoluna-produto-linhaExpress-vet{
  padding: 0 6px;
}

.paragraph--titulo-subcoluna-produto-linhaExpress-vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;

}

.container--subtitulo-linhaExpress-vet {
  margin-top: 22px;
}

.paragraph--subtitulo-linhaExpress-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.paragraph--continuacaoTitulo-linhaExpress-vet {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  line-height: 118%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

.container--subtitulo-linhaExpress-Vet {
  max-width: 80%;
}

.paragraph--subtitulo-linhaExpress-Vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  line-height: 100%;
  letter-spacing: 0%;
}

.paragraph--titulo-linhaExpress-Vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 97%;
  letter-spacing: 0%;
  margin: 0;
  color: #000000;
}

.headingLevel3--titulo-bannerAmarelo-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin: 0;
}

.paragraph--subtitulo-bannerAmarelo-vet {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 108%;
  letter-spacing: -4%;
  margin: 0;
}

.strong--titulo-bannerAmarelo-vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
}

.headingLevel2--titulo-maiorOrg-vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.paragraph--titulo-maiorOrg-vet {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  color: #484848;
  line-height: 108%;
  letter-spacing: -4%;
  text-align: center;
  margin-bottom: 36px;
}

.paragraph--textos-laterais {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #7A7A7A;
  line-height: 97%;
  letter-spacing: 0%;

}

.container--subtitulo-estanteVet {
  max-width: 40vw;
}

.headingLevel2--titulo-estanteVet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.paragraph--subtitulo-estanteVet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

}

.paragraph--linha {
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

}

.paragraph--titulo-produtoLinhaOne-vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 97%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
  padding-bottom: 14px;
}

.paragraph--subtitulo-produtoLinhaOne-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #767676;
  margin: 0;
  padding-bottom: 14px;
}

.headingLevel2--titulo-linhaOne-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.strong--titulo-linhaOne-vet {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.headingLevel1--titulo-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 104%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFA207;
  margin: 0;
}

.paragraph--subtitulo-vet {
  color: #FFFFFF;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 108%;
  letter-spacing: 0%;
}

@media screen and (max-width: 1024px) {
  .paragraph--titulo-maiorOrg-vet {
    font-size: 12px;
  }

  .container--subtitulo-estanteVet {
    max-width: unset;
  }

  .strong--titulo-linhaOne-vet,
  .headingLevel2--titulo-linhaOne-vet {
    font-size: 24px;
  }

  .headingLevel1--titulo-vet {
    text-align: center;
    font-size: 24px;
  }

  .paragraph--subtitulo-vet {
    text-align: center;
    font-size: 14px;
  }
}
