.paragraph--textos-laterais {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #7A7A7A;
  line-height: 97%;
  letter-spacing: 0%;

}

.container--subtitulo-estanteVet {
  max-width: 40vw;
}

.headingLevel2--titulo-estanteVet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.paragraph--subtitulo-estanteVet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

}

.paragraph--linha {
  margin: 0;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  line-height: 97%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

}

.paragraph--titulo-produtoLinhaOne-vet {
  font-family: "Poppins Bold", sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 97%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
  padding-bottom: 14px;
}

.paragraph--subtitulo-produtoLinhaOne-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #767676;
  margin: 0;
  padding-bottom: 14px;
}

.headingLevel2--titulo-linhaOne-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.strong--titulo-linhaOne-vet {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 32px;
  line-height: 97%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.headingLevel1--titulo-vet {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 104%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #FFA207;
  margin: 0;
}

.paragraph--subtitulo-vet {
  color: #FFFFFF;
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 14px;
  line-height: 108%;
  letter-spacing: 0%;
}

@media screen and (max-width: 1024px) {
  .container--subtitulo-estanteVet{
    max-width: unset;
  }

  .strong--titulo-linhaOne-vet,
  .headingLevel2--titulo-linhaOne-vet {
    font-size: 24px;
  }

  .headingLevel1--titulo-vet {
    text-align: center;
    font-size: 24px;
  }

  .paragraph--subtitulo-vet {
    text-align: center;
    font-size: 14px;
  }
}
