.flexRowContent--linha-novaHome{
  align-items: center;
}

.flexRowContent--linhaProdutos-vet .stretchChildrenWidth {
  display: flex;
  flex-direction: column;
}

.flexRowContent--links-produto-subcoluna-linhaExpress-vet .stretchChildrenWidth,
.flexRowContent--links-produto-linhaTwo-vet .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--linhaExpress-vet,
.flexRow--linhas-vet {
  scroll-margin-top: 60px;
}


.flexRowContent--linha-links-bannerVerde-vet {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.flexRowContent--linha-textos-bannerVerde-vet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.flexRowContent--linha-textos-banner-verde-vet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}

.flexRow--linha-bannerLaranja-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFA207;
  margin-top: 90px;
}

.flexRow--linha-bannerVerde-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00A277;
  background-image: url('https://madumfm2.vtexassets.com/assets/vtex.file-manager-graphql/images/84ea3ca1-e7c5-4222-ac65-d8ff8930092f___263b4050a561c0663fe4c2a52edbab42.webp');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(100% - 60px) center;
}

.flexRowContent--linha-bannerLaranja-vet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  position: relative;
  padding: 51px 0 46px 0;
}

.flexRowContent--linha-bannerVerde-vet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  position: relative;
  padding: 51px 0 46px 0;
}

.flexRowContent--linha-produtos-linhaTwo-vet {
  gap: 22px;
}

.flexRow--linha-textos-linhaTwo-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--links-produto-linhaTwo-vet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.flexCol--colunaProdutos-linhaTwo-Vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 6px 6px 16px 6px;
  max-width: 229px;
  gap: 8px;
}

.flexRowContent--linha-textos-linhaTwo-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 60%;
}

.flexRow--linhaTwo-vet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
}



.flexRowContent--linhaTwo-vet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 26px;
  padding: 82px 0 67px 0;
}

.flexRowContent--linha-mobile-linhaExpres-vet {
  padding: 61px 0;
}

.flexRowContent--links-produto-subcoluna-linhaExpress-vet {
  gap: 8px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRowContent--produtosColuna2-linhaExpres-vet {
  gap: 10px;
}

.flexCol--subcoluna-produtos-linhaExpressVet {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 276px;
  border-radius: 24px;
  justify-content: space-between;
}

.flexRowContent--linha-links-linhaExpress-vet {
  gap: 8px
}

.flexCol--coluna-linhaExpress-vet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}



.flexRowContent--textosColuna2-linhaExpres-vet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowContent--linha-textos-linhaExpress-vet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRow--linhaExpress-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 94px 0 105px 0;
}

.flexRowContent--linhaExpress-vet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  gap: 16px;
}

.flexRowContent--linha-textos-bannerAmarelo-vet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 80%;
}

.flexRow--linhas-bannerAmarelo-vet {
  background-color: #FFA207;
  background-image: url('https://madumfm2.vtexassets.com/assets/vtex.file-manager-graphql/images/f42b0a02-b7ee-4de9-955d-31129115d13b___ee5485aaf1d63d17603cb5118d22bb0f.webp');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: calc(100% - 20px) center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRowContent--linhas-bannerAmarelo-vet {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}

.flexRowContent--linha-maiorOrganizacao-vet {
  padding: 65px 0;
}

.flexRowContent--links-maiorOrg-vet {
  padding: 37px 0 0 0;
}

.flexRowContent--textos-maiorOrg-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRow--linha-maiorOrganizacao-vet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRowContent--linha-maiorOrganizacao-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
}

.flexColChild--coluna-meio-conteudo-estanteVet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--linha-estante-vet {
  padding: 65px 0;
}

.flexRowContent--links-estanteVet {
  gap: 8px
}


.flexCol--coluna-direita-conteudo-estanteVet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexRowContent--linhasLaterais-estanteVet {
  gap: 10px;
}

.flexCol--colunas-conteudo-estanteVet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flexRowContent--estanteVet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flexRow--linha-estante-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.flexRowContent--linha-estante-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}

.flexRowContent--linhas-vet .stretchChildrenWidth:last-child {
  padding-left: 75px;
}

.flexRowContent--links-produto-linhaOne-vet {
  white-space: nowrap;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
}

.flexRowContent--imagens-produtos-LinhaOne-vet {
  padding-bottom: 32px;
}

.flexRow--linha-titulo-produtoLinhaOne-vet {
  padding: 20px 0;
}

.flexRowContent--linha-titulo-produtoLinhaOne-vet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.flexRow--linhas-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--linhas-vet {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--linha-organizador {
  /* background */
  background-image: url('https://madumfm2.vtexassets.com/assets/vtex.file-manager-graphql/images/7194c8a5-ea1d-44be-81bd-24f549838df6___2b7a62339719a03ef9fd5992736d3b6b.webp');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left calc(100% - 40px);

}

.flexRowContent--linhaTextos-primeiraLinha-vet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexRowContent--linhaTextos-primeiraLinha-vet .stretchChildrenWidth {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexRow--primeiraLinha-vet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00A277;
}

.flexRow--linhaTextos-primeiraLinha-vet {
  max-width: max-content;
}

.flexRowContent--primeiraLinha-vet,
.flexRow--linhaTextos-primeiraLinha-vet {
  background-color: #00A277;
}

.flexRowContent--primeiraLinha-vet {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1400px;
}

.flexRowContent--linha-titulo-linhaExpress-vet {
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;
}

@media screen and (min-width: 1900px) {

  .flexRowContent--primeiraLinha-vet,
  .flexRowContent--linhas-vet,
  .flexRowContent--linha-estante-vet,
  .flexRowContent--linha-maiorOrganizacao-vet,
  .flexRowContent--linhas-vet,
  .flexRowContent--linhas-bannerAmarelo-vet,
  .flexRowContent--linhaExpress-vet,
  .flexRowContent--linha-bannerVerde-vet,
  .flexRowContent--linhaTwo-vet,
  .flexRowContent--linha-bannerLaranja-vet {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1024px) {
  .flexRowContent--linha-maisVendidos-novaHome {
    padding: 0 !important;
    display: unset!important;
  }

  .flexRowContent--linhaProdutos-vet {
    padding-left: unset !important;
  }

  .flexRow--linha-bannerLaranja-vet {
    margin-top: unset;
  }

  .flexRow--linha-bannerLaranja-vet,
  .flexRow--linha-bannerVerde-vet {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 105% bottom 50px;
  }

  .flexRowContent--linha-textos-banner-verde-vet {
    padding: 0 21px;
  }

  .flexRow--linha-bannerVerde-vet {
    margin-bottom: 86px;
  }

  .flexRow--linha-bannerLaranja-vet,
  .flexRow--linha-bannerVerde-vet {
    min-height: 580px;
  }

  .flexRowContent--linha-bannerLaranja-vet,
  .flexRowContent--linha-bannerVerde-vet {
    flex-direction: column;
  }

  .flexRowContent--linha-organizador {
    /* background */
    background-image: url('https://madumfm2.vtexassets.com/assets/vtex.file-manager-graphql/images/7194c8a5-ea1d-44be-81bd-24f549838df6___2b7a62339719a03ef9fd5992736d3b6b.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% - 50px) calc(25% - 80px);

  }

  .flexColChild--col-img-OneVet {
    display: flex;
    justify-content: center;
  }

  /* .flexRowContent--linha-slider-produtos-linhaExpress-vet {
    padding-left: 21px;
  } */

  .flexRow--linha-textos-linhaTwo-vet {
    padding: 0 21px;
  }

  .flexRowContent--linha-textos-linhaTwo-vet {
    max-width: 80%;
  }

  .flexRowContent--linha-textos-linhaExpress-vet,
  .flexRowContent--linha-imagem-bancada-linhaExpress-vet,
  .flexRow--textosColuna2-linhaExpres-vet {
    padding: 0 21px;
  }

  .flexRowContent--linha-links-linhaExpress-vet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 32px 21px;
    white-space: nowrap;
  }

  .flexRowContent--linha-titulo-linhaExpress-vet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px
  }

  .flexRowContent--linha-textos-bannerAmarelo-vet {
    max-width: unset;
  }

  .flexRow--linhas-bannerAmarelo-vet {
    background-position: center;
    background-size: contain;
  }

  .flexRowContent--linhas-bannerAmarelo-vet {
    flex-direction: column;
    padding: 35px 45px;
    gap: 23px;
  }

  .flexRowContent--linha-maiorOrganizacao-vet {
    padding: 65px 45px;
  }

  .flexRow--links-maiorOrg-vet {
    white-space: nowrap;
  }

  .flexRowContent--links-estanteVet {
    display: flex;
    flex-direction: row;
    padding: 30px 0 0 0;
  }

  .flexRowContent--conteudo-estanteVet {
    padding: 0 10px;
  }

  .flexRowContent--estanteVet {
    padding: 0 45px;
  }

  .flexRowContent--linhasLaterais-estanteVet {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .flexRowContent--conteudo-estanteVet {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flexRowContent--links-produto-linhaOne-vet {
    padding-top: unset;
    justify-content: center;
    gap: 10px;
  }

  .flexRowContent--imagens-produtos-LinhaOne-vet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .flexRowContent--linhas-vet {
    flex-direction: column;
    padding: 64px 24px;
  }

  .flexRowContent--linhaTextos-primeiraLinha-vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
  }

  .flexRowContent--linhas-vet .stretchChildrenWidth:last-child {
    padding-left: unset;
  }

  .flexRowContent--primeiraLinha-vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

}
