.imageElement--imagem-banner-inicial-vet{
  width: 35vw;
}

.imageElement--doguinho-bannerLaranja-vet,
.imageElement--doguinho-bannerVerde-vet{
  height: auto;
  position: absolute;
  right: 0;
  top: -50px;
  bottom: auto;
  width: auto;
}

.imageElement--subcoluna-imagemProduto {
  margin-top: 6px;
}


.imageElement--img-linhaOne-vet {
  padding-top: 42px;
  padding-bottom: 21px;
}

.imageElement--madupet-img {
  width: 100%;
  height: auto;
  padding: 24px 0;
}

.imageElement--icon-estanteVet {
  min-width: 40px;
}

@media screen and (max-width: 1024px) {
  .imageElement--imagem-banner-inicial-vet{
    max-width: 100%;
    width: 100%!important;
  }
  .imageElement--doguinho-bannerLaranja-vet{
    position: relative;
    top: 30px;
    bottom: unset;
    width: 80%;
  }
  .imageElement--doguinho-bannerVerde-vet{
    top: unset;
    bottom: unset;
    width: auto;
  }


  .imageElement--subcoluna-imagemProduto {
    margin-top: 18px;
  }

  .imageElement--madupet-img {
    max-width: 65vw;
  }
}
