.flexCol--linha-cores-disclosure-maduset {
  display: flex;
  align-items: center;
}

.flexRowContent--imgs-liberdade-maduset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowContent--imgs-liberdade-maduset .stretchChildrenWidth {
  width: 100% !important;
}

.flexRowContent--disclosure-comoConfig-maduset .stretchChildrenWidth {
  width: 100% !important;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flexRowContent--comoConfig-maduset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow--linhaDisclosure-comoXonfig-maduset {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAF5;
}

.flexRowContent--linhaDisclosure-comoXonfig-maduset {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.flexRowContent--linhaDisclosure-comoXonfig-maduset .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--linha-liberdade-maduset {
  background-color: #FAFAF5;
  display: flex;
  padding-top: 80px;
}

.flexRowContent--linha-liberdade-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

.flexRow--carac1-maduset {
  margin-left: -80px;
}

.flexRow--carac2-maduset {
  margin-left: -60px;
}

.flexRow--carac3-maduset {
  margin-left: -40px;
}

.flexRow--carac4-maduset {
  margin-left: -20px;
}


.flexRowContent--iconeTexto-lista-maduset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.flexRow--linha-listaCaracteristicasMaduset-maduset {
  display: flex;

}

.flexRowContent--linha-listaCaracteristicasMaduset-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRow--linhaCaracteristicas-maduset {
  background-color: #FAFAF5;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.flexRowContent--linhaCaracteristicas-maduset {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flexRowContent--linhaInfinitasCombinacoes-maduset {
  padding: 63px 36px 0 36px;
}

.flexRowContent--linha-textoImagem-maduset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRow--linhaTextos-infinitasCompinacoes-maduset {
  display: flex;
}

.flexRowContent--linhaTextos-infinitasCompinacoes-maduset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flexRowContent--linhaInfinitasCombinacoes-maduset {
  max-width: 1200px;
}

.flexRow--linhaInfinitasCombinacoes-maduset {
  display: flex;
  justify-content: center;
  background-color: #8282C8;
}


.flexRow--linhaErrosAcontecem-maduset {
  background-color: #FAFAF5;
}

.flexRowContent--linhaErrosAcontecem-maduset {
  gap: 80px;
}

.flexRowContent--linhaImagens-ErrosAcontecem-maduset {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.flexRowContent--linhaText-ErrosAcontecem-maduset .stretchChildrenWidth {
  width: auto !important;
}

.flexRow--linhaText-ErrosAcontecem-maduset {
  display: flex;
}

.flexRowContent--linhaText-ErrosAcontecem-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexRowContent--primeiraLinha-maduset,
.flexRow--linhaTextos-primeiraLinha-maduset {
  background-color: #FFA207;
}

.flexRowContent--primeiraLinha-maduset {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset .stretchChildrenWidth {
  justify-content: flex-start;
}

.flexRowContent--iconeTexto-lista-maduset .stretchChildrenWidth {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .flexRow--linha-liberdade-maduset {
    padding-top: 0;
  }

  .flexRowContent--linha-liberdade-maduset {
    padding: 36px;
  }

  .flexRowContent--iconeTexto-lista-maduset {
    gap: 10px;
  }

  .flexRowContent--linhaCaracteristicas-maduset {
    flex-direction: column;
    padding: 36px;
  }

  .flexRow--carac1-maduset,
  .flexRow--carac2-maduset,
  .flexRow--carac3-maduset,
  .flexRow--carac4-maduset {
    margin-left: unset;
  }


  .flexRowContent--linhaImagens-ErrosAcontecem-maduset {
    margin-top: 26px;
  }

  .flexRowContent--linhaErrosAcontecem-maduset {
    display: flex;
    flex-direction: column-reverse;
    gap: unset;
    padding: 36px;
  }

  .flexRowContent--primeiraLinha-maduset {
    display: unset;
  }

  .flexRow--linhaTextos-primeiraLinha-maduset {
    padding: 0 20px;
  }
}
