.flexRowContent--linhaInfinitasCombinacoes-maduset {
  padding: 63px 36px 0 36px;
}

.flexRowContent--linha-textoImagem-maduset {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRow--linhaTextos-infinitasCompinacoes-maduset {
  display: flex;
}

.flexRowContent--linhaTextos-infinitasCompinacoes-maduset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flexRowContent--linhaInfinitasCombinacoes-maduset {
  max-width: 1200px;
}

.flexRow--linhaInfinitasCombinacoes-maduset {
  display: flex;
  justify-content: center;
  background-color: #8282C8;
}


.flexRow--linhaErrosAcontecem-maduset {
  background-color: #FAFAF5;
}

.flexRowContent--linhaErrosAcontecem-maduset {
  gap: 80px;
}

.flexRowContent--linhaImagens-ErrosAcontecem-maduset {
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.flexRowContent--linhaText-ErrosAcontecem-maduset .stretchChildrenWidth {
  width: auto !important;
}

.flexRow--linhaText-ErrosAcontecem-maduset {
  display: flex;
}

.flexRowContent--linhaText-ErrosAcontecem-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flexRowContent--primeiraLinha-maduset,
.flexRow--linhaTextos-primeiraLinha-maduset {
  background-color: #FFA207;
}

.flexRowContent--primeiraLinha-maduset {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset .stretchChildrenWidth {
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--linhaImagens-ErrosAcontecem-maduset {
    margin-top: 26px;
  }

  .flexRowContent--linhaErrosAcontecem-maduset {
    display: flex;
    flex-direction: column-reverse;
    gap: unset;
    padding: 36px;
  }

  .flexRowContent--primeiraLinha-maduset {
    display: unset;
  }

  .flexRow--linhaTextos-primeiraLinha-maduset {
    padding: 0 20px;
  }
}
