.content--content-gravacao-maduset {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  border-radius: 0 0 20px 20px;

}

.trigger--trigger-gravacao-maduset {
  border-radius: 0 0 20px 20px;
  padding: 0 0 54px!important ;
}

.trigger--trigger-gravacao-maduset--visible {
  border-radius: unset;
}

.content--content-comoConfig-maduset {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: flex-end;
}

.trigger--trigger-comoConfig-maduset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0 10px 0 0;
}

.trigger--trigger-comoConfig-maduset:first-child {
  border-radius: 20px 20px 0 0;
  padding: 54px 0 0;
}


