.trigger--trigger-faq-maduset--visible {
  border-bottom: none !important;
}


.content--content-faq-maduset--visible {
  border-bottom: 1px solid #E3E3E3;
}

.content--content-faq-maduset {
  background-color: #FFFFFF;
}


.trigger--trigger-faq-maduset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
}

.content--content-gravacao-maduset {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  border-radius: 0 0 20px 20px;

}


.trigger--trigger-gravacao-maduset {
  border-radius: 0 0 20px 20px;
  padding: 0 10px 54px 0 !important
}

.trigger--trigger-gravacao-maduset--visible {
  border-radius: unset;
}

.content--content-comoConfig-maduset {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: flex-end;
}

.trigger--trigger-comoConfig-maduset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0 10px 0 0;
  padding-right: 10px;
}

.trigger--trigger-comoConfig-maduset:first-child {
  border-radius: 20px 20px 0 0;
  padding: 54px 10px 0 0;

}

@media screen and (max-width: 1024px) {
  .trigger--trigger-comoConfig-maduset:first-child {
    padding: 30px 0 0;
    padding-right: 10px;
  }

  .trigger--trigger-gravacao-maduset {
    padding: 0 0 30px !important;
    padding-right: 10px!important;
  }

  .content--grid-coresSet-maduset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 10px;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .content--tamanhos-bases-maduset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 13px;
    align-items: stretch;
    justify-items: center;
    gap: 5px;
  }

}
