.flexRowContent--primeiraLinha-maduset,
.flexRow--linhaTextos-primeiraLinha-maduset {
  background-color: #FFA207;
}

.flexRowContent--primeiraLinha-maduset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexRowContent--linhaTextos-primeiraLinha-maduset .stretchChildrenWidth   {
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .flexRowContent--primeiraLinha-maduset{
    display: unset;
  }

  .flexRow--linhaTextos-primeiraLinha-maduset {
    padding: 0 20px;
  }
}
