.paragraph--empty-maduset{
  color: transparent;
  user-select: none;
}

.paragraph--texto-preFooter-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin: 0;
}

.strong--texto-preFooter-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 108%;
  letter-spacing: -4%;
  text-transform: uppercase;

}

.heading--text-trigger-faq-madu {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.headingLevel4--content-faq-maduset {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 108%;
  letter-spacing: 0%;
  color: #686868;
}


.paragraph--subtitulo-kits-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  color: #787878;
  line-height: 108%;
  letter-spacing: -3%;
  text-align: center;
  margin: 0;
  /* padding-bottom: 10px; */
}

.paragraph--titulo-kits-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 30px;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  /* padding: 10px 0; */
}

.heading--titulo-kitsprontos-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 40px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.paragraph--subtitulo-kitsprontos-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  white-space: nowrap;
  margin: 0;

}

.paragraph--subTitulo-vejaEmAcao-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;

}

.headingLevel3--titulo-vejaEmAcao-maduset {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
  margin: 0;
}

.strong--titulo-vejaEmAcao-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 40px;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.paragraph--tituloGabaritoSuporte-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 10px 0;
}

.strong--tituloGabaritoSuporte-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;

}


.paragraph--texto-trigger-comoConfig-maduset {
  margin: 20px 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.strong--texto-trigger-comoConfig-maduset {
  background-color: #8282C8;
  padding: 10px 35px 10px 25px;
  border-radius: 0 50% 50% 0;
  margin: 0 23px 0 0;
  color: #FFFFFF;
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 36px;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.headingLevel2--titulo-liberdade-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-style: Light;
  font-size: 40px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.strong--titulo-liberdade-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  color: #000000;
  line-height: 108%;
  letter-spacing: -3%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}


.paragraph--subtitle-infinitasCombinacoes-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: 0%;
  color: #FAFAF5;
  margin-bottom: 0;
}

.heading--titulo-infinitasPossibilidades-maduset {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 40px;
  color: #FAFAF5;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.strong--titulo-infinitasPossibilidades-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 40px;
  line-height: 108%;
  letter-spacing: -3%;
  text-transform: uppercase;
}

.paragraph--subtitulo-ErrosAcontecem-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-size: 24px;
  color: #B4B4B4;
  line-height: 108%;
  letter-spacing: -3%;
}

.heading--titulo-ErrosAcontecem-maduset {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 40px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #4CAB86;
  margin: 0;
}

.strong--titulo-ErrosAcontecem-maduset {
  font-family: "Poppins Black", sans-serif !important;
  font-weight: 900;
  font-size: 40px;
  line-height: 108%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

.container--subtitulo-maduset {
  padding: 0 150px;
  max-width: 60%;
}

.container--titulo-maduset {
  padding: 40px 150px 0;
}

.paragraph--subtitulo-maduset {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 108%;
  letter-spacing: 0%;
  text-align: left;
  color: #F5F5F5;
}

.paragraph--titulo-maduset,
.heading--titulo-maduset {
  font-family: "Poppins Light", sans-serif !important;
  font-weight: 300;
  font-style: Light;
  font-size: 48px;
  line-height: 88%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #F5F5F5;
  margin: 0;
  padding: 0;
  text-align: left;
}

.strong--titulo-maduset {
  font-size: 48px;
  color: #F5F5F5;
}


@media screen and (min-width: 1600px) {
  .container--subtitulo-maduset {
    padding-left: 200px;
  }

  .container--titulo-maduset {
    padding: 40px 200px 0;
  }
}

@media screen and (max-width: 1024px) {

  .strong--titulo-liberdade-maduset,
  .headingLevel2--titulo-liberdade-maduset {
    font-size: 30px;
  }

  .strong--texto-listacarac-maduset {
    font-size: 14px;
    white-space: nowrap;
  }

  .paragraph--texto-listacarac-maduset {
    font-size: 12px;
  }

  .paragraph--subtitle-infinitasCombinacoes-maduset {
    font-size: 16px;
  }

  .strong--titulo-infinitasPossibilidades-maduset {
    font-size: 30px;
  }

  .heading--titulo-infinitasPossibilidades-maduset {
    font-size: 30px;
  }

  .paragraph--subtitulo-ErrosAcontecem-maduset {
    font-size: 16px;
  }

  .heading--titulo-ErrosAcontecem-maduset {
    font-size: 30px;
  }

  .strong--titulo-ErrosAcontecem-maduset {
    font-size: 30px;
  }



  .strong--titulo-maduset {
    font-family: "Poppins Black", sans-serif !important;
    font-weight: 900;
    font-size: 30px;
    line-height: 88%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .paragraph--titulo-maduset,
  .heading--titulo-maduset {
    color: #F5F5F5;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 88%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .paragraph--subtitulo-maduset {
    font-size: 16px;
    text-align: center;
  }

  .container--subtitulo-maduset {
    padding: 0 50px;
    max-width: unset;
  }

  .container--titulo-maduset {
    padding: 40px 50px 0;
  }
}
