.sliderTrack--slider-maisVendidos {
  gap: 16px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
}

.slide--slider-maisVendidos {
  box-shadow: 0px 4px 20px 0px #0000001A;
  opacity: 1;
  border-radius: 30px;
  max-width: 25%;
}

.sliderTrackContainer--slider-maisVendidos {
  overflow: hidden;
}

.sliderLayoutContainer--carousel-home {
  width: 100%;
}


.paginationDotsContainer--carousel-home {
  bottom: 30px !important;
}


.paginationDot--carousel-home--isActive {
  background-color: #ED5AB8;
}

.sliderArrows--carousel-home {
  z-index: 2;
}

@media (max-width: 1000px) {
  .sliderTrack--slider-maisVendidos {
    gap: 20px;
    padding: 40px 20px;
  }

  .sliderTrack--slider-maisVendidos{
    width: 300%!important;
  }
}