@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Regular.woff2),
    url(assets/fonts/Poppins-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins Bold";
  src: url(assets/fonts/Poppins-Bold.woff2),
    url(assets/fonts/Poppins-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url(assets/fonts/Poppins-SemiBold.woff2),
    url(assets/fonts/Poppins-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Poppins Light";
  src: url(assets/fonts/Poppins-Light.woff2),
    url(assets/fonts/Poppins-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(assets/fonts/Montserrat-Regular.woff2),
    url(assets/fonts/Montserrat-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(assets/fonts/Montserrat-Bold.woff2),
    url(assets/fonts/Montserrat-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url(assets/fonts/Montserrat-SemiBold.woff2),
    url(assets/fonts/Montserrat-SemiBold.ttf);
  font-display: swap;
}


