.imageElement--img-manual-uso-cuidados {
  width: 100%;
}

/* .imageElement--imgMaior-rodizios-manual-e-cuidados {
  width: 70%;
} */

.imageElement--img-textos-manual-e-cuidados {
  max-width: 57px;
}

@media screen and (max-width: 1024px) {
  .imageElement--imgMaior-rodizios-manual-e-cuidados {
    padding: 44px 0;
  }
}
