.flexRowContent--linha-banner3-novaHome{
  flex-direction: row!important;
  gap: 5px;
}

.flexRowContent--linha-tagcolecao{
  display: contents;
}

.flexRowContent--colunas-deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRow--linha-deals-novaHome {
  background-color: #F4F4F4;
  margin-top: -4px;
}

.flexRowContent--linha-deals-novaHome {
  flex-direction: row !important;
  justify-content: space-between !important;
  padding: 18px 0 14px 0 !important;
}

.flexRowContent--linha-nossosClientes {
  padding-left: unset;
}

.flexRow--mobile-linhaEsquerda {
  display: flex;
  flex-direction: row;
}

.flexRowContent--mobile-linhaEsquerda {
  display: flex;
  gap: 5px;
}

.flexRowContent--linha-imgs-nossosClientes-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.flexRowContent--linha-imgs-nossosClientes-mobile .stretchChildrenWidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexRow--linha-imgs-nossosClientes-mobile {
  width: 100%;
}

.flexRow--linhaSliderMobile-cards-conhecaLinhas-maduHome {
  padding-top: 14px;
  padding-bottom: 38px;
}


.flexRowContent--linha-mobile-novaHome {
  padding-left: 37px;
  padding-top: 47px;
}


.flexRowContent--linha-icones-redesSociais-novaHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.flexRow--linha-logosNossosClientes-novaHome {
  display: contents;
}

.flexRowContent--linha-logosNossosClientes-novaHome {
  justify-content: center;
}

.flexRowContent--prateleira-novaHome {
  max-width: 1200px;
}

.flexRowContent--linha-titulo-link-segmentos-novaHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 11px 11px 22px 11px;
}

.flexRow--linhaSlider-navegueSegmentos-novaHome {
  min-width: 1200px;
}

.flexRowContent--linha-video-novaHome {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.flexRowContent--linha-novaHome {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 60px 0 60px 0;
}

.flexRowContent--linha-recebaNovidades-novaHome {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.flexRow--linha-recebaNovidades-novaHome {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ED5AB8;
}

.flexRow--linha-video-novaHome {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flexRow--linha-novaHome {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.flexRowContent--linhas-cards-conhecaLinhas-maduHome {
  width: 100%;
  gap: 16px;
}

.flexRow--segmentos-linha {
  background-color: #F4F4F4;
}

.flexRowContent--linha-titulo-link-segmentos-novaHome {
  background-color: #E7E1DB;
  border-radius: 0 0 10px 10px;

}

/* MOBILE */
@media screen and (max-width: 1024px) {
  .flexRowContent--linha-imgs-nossosClientes-mobile .stretchChildrenWidth:last-child {
    display: none;
  }

  .flexRowContent--linha-imgs-nossosClientes-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 37px;
    gap: 5px;
  }

  .flexRowContent--prateleira-novaHome {
    max-width: 90vw;
  }

  .flexRow--linha-maisVendidos-novaHome {
    display: unset;
  }

  .flexRowContent--segmentos-linha {
    background-color: #F4F4F4;
  }

  .flexRowContent--linha-novaHome {

    padding-left: 37px;
  }

  .flexRow--linhaSlider-navegueSegmentos-novaHome {
    min-width: unset;
  }

  .flexRow--segmentos-linha {
    display: unset;
  }

  .flexRowContent--linha-nossosClientes {
    padding-left: unset !important;
  }
}
